*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
}

header {
    width: 100%;
    padding: 1rem 0;          /* Giver lidt luft omkring logoet */
    display: flex;
    justify-content: center;  /* Centrerer logoet horisontalt */
    align-items: center;      /* Centrerer logoet vertikalt inden for headeren */
    position: absolute;       /* Placerer headeren øverst i containeren */
    top: 0;                   /* Fastgør headeren til toppen */
    left: 0;
    z-index: 30;              /* Sørger for, at logoet er over videoen */
    flex-direction: column;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.burger {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.logo {
    height: 50px;             /* Justér højden efter behov */
    width: auto;              /* Bevarer logoets proportioner */
    margin-bottom: 2rem;
}

nav .nav-menu {
    list-style: none;            /* Fjerner punktopstilling */
    padding: 0;
    display: flex;               /* Viser menupunkterne på én linje */
    gap: 18rem;                 /* Afstand mellem menupunkterne */
    flex-wrap: wrap;
    justify-content: center;
}

nav .nav-menu li a {
    color: #fff;
    text-decoration: none;       /* Fjerner understregning */
    font-size: 1rem;
    text-transform: uppercase;   /* Gør teksten til store bogstaver */
    transition: color 0.3s;      /* Gør farveskift glidende ved hover */
}

nav .nav-menu li a:hover {
    color: #0cf;              /* Ændrer farve ved hover (justér farven efter behov) */
}

.search-container {
    margin-top: 2rem;             /* Afstand mellem menuen og søgefeltet */
    display: flex;
    align-items: center;
    position: relative;           /* For at placere søgeikonet i forhold til input */
    justify-content: flex-start;
    margin-right: 77.2%;
}

#search {
    width: 230px;                 /* Justér bredden på søgefeltet */
    padding: 0.5rem 2rem 0.5rem 1rem;  /* Placerer lidt ekstra plads til højre for ikonet */
    font-size: 1rem;
    border: 1px solid;       /* Tilføjer en kant rundt om søgefeltet */
    outline: none;                /* Fjern den blå kant ved fokus */
    border-radius: 5px;
    color: black;
    background-color: #fff;
    font-size: 0.8rem;
}

#search::placeholder {
    color: black;                  /* Ændrer farven på placeholder-teksten til hvid */
}

.search-btn {
    position: absolute;
    right: 0.5rem;                /* Placerer knappen tæt på højre kant af inputfeltet */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-icon {
    width: 15px;                  /* Juster størrelsen på ikonet */
    height: 15px;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

@media (min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}

.uppercase{
    text-transform: uppercase;
    color: #fff;
    top: 39%;
    position: absolute;
    font-size: 3rem;
}

.container h2{
    font-size: 1rem;
    line-height: 1.5rem;
    z-index: 20;
    color: #fff;
    margin-top: 0.5rem;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 45%;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  margin: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.footer-left, .footer-right {
  display: flex;
  flex-direction: column;
}

.footer-left .logo img {
  width: 120px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.contact-info p{
  margin: 5px 0;
  font-size: 14px;
  position: relative;
  text-align: center;
  margin-top: -4px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Centrerer elementerne horisontalt */
  justify-content: center; /* Centrerer elementerne vertikalt */
  text-align: center;  /* Sikrer at teksten også er centreret */
  width: 100%;         /* Sørger for at containeren fylder hele bredden */
  position: relative;
  margin-left: 50px;
}

.newsletter h3 {
  font-size: 18px;
  margin-bottom: 2.5px;
  text-align: center;
}

.newsletter input {
  padding: 8px;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  color: black !important;
  background-color: #fff;
  border: 1px solid;
  box-sizing: border-box;
}

.newsletter button {
  padding: 8px 20px;
  background-color: #fff;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  transition: background-color 0.3s ease;
  border: 1px solid;
  box-sizing: border-box;
}

.newsletter button:hover {
  background-color: #fff;
  color: #0cf;
}

.footer-right h4 {
  font-size: 18px;
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.social-media-icons {
  display: flex;
  gap: 25px;
}

.social-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.social-icon img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.social-icon:hover img {
  transform: scale(1.2);
}

/* Mobil Iphone 12 Resonsive */
/* header */
@media screen and (max-width: 390px) {
  
  .header{
    padding: 0.5rem;
  }
  
  .burger-menu {
    display: block;
    cursor: pointer;
    margin-left: 300px;
    margin-top: -80px;
  }

  .burger {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }

.burger-menu.active .burger:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .burger:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-menu.active .burger:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
position: fixed;
left: -100%;
top: 70px;
gap: 0;
flex-direction: column;
background-color: black;
width: 100%;
text-align: center;
transition: 0.3s;
display: block;
z-index: 1;
padding: 20px 0;
overflow-x: hidden;
}

.nav-item {
  margin: 16px 0;
  color: #fff;
  font-size: 1.5rem;
}
.nav-item a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.nav-menu.active {
  left: 0;
}

  .logo {
margin-left: -192px;
}

.search-container {
justify-content: center;
margin-left: 360px;
margin-top: -32px;
}

#search {
  width: 150px;                 /* Justér bredden på søgefeltet */
  padding: 0.5rem 2rem 0.5rem 1rem;  /* Placerer lidt ekstra plads til højre for ikonet */
  font-size: 1rem;
  border: 1px solid;       /* Tilføjer en kant rundt om søgefeltet */
  outline: none;                /* Fjern den blå kant ved fokus */
  border-radius: 5px;
  color: black;
  background-color: #fff;
  font-size: 0.8rem;
}

.background-clip {
  width: 100%;
  height: auto;
}

.background-clip {
  width: 100%;
  height: 100%;
}

/* fjerner logo kontakt info og social media skrift (footer) */
.contact-info p, .footer-left .logo img, .footer-right h4 {
  display: none;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Centrerer elementerne horisontalt */
  justify-content: center; /* Centrerer elementerne vertikalt */
  text-align: center;  /* Sikrer at teksten også er centreret */
  width: 100%;         /* Sørger for at containeren fylder hele bredden */
  position: relative;
  margin-left: 3px;
  margin-top: -115px;
}

.newsletter h3 {
  font-size: 15px;
  margin-bottom: 2.5px;
  text-align: center;
}

.newsletter input {
  padding: 8px;
  font-size: 14px;
  margin-bottom: 5px;
  border-radius: 5px;
  max-width: 180px;
  color: black !important;
  background-color: #fff;
  border: 1px solid;
  box-sizing: border-box;
}

.newsletter button {
  padding: 8px 20px;
  background-color: #fff;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  max-width: 180px;
  transition: background-color 0.3s ease;
  border: 1px solid;
  box-sizing: border-box;
}

.social-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-left: -127px;
  margin-top: 40px;
}
}