*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
}

body {
    background-image: linear-gradient(#16262e 7%, #3a4851);
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 1rem 0;          /* Giver lidt luft omkring logoet */
    display: flex;
    justify-content: center;  /* Centrerer logoet horisontalt */
    align-items: center;      /* Centrerer logoet vertikalt inden for headeren */
    position: absolute;       /* Placerer headeren øverst i containeren */
    top: 0;                   /* Fastgør headeren til toppen */
    left: 0;
    z-index: 30;              /* Sørger for, at logoet er over videoen */
    flex-direction: column;
}

.burger-menu {
    display: none;
    cursor: pointer;
  }
  
  .burger {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }

main{
    flex: 1;
}

.logo {
    height: 50px;             /* Justér højden efter behov */
    width: auto;              /* Bevarer logoets proportioner */
    margin-bottom: 2rem;
}

nav .nav-menu {
    list-style: none;            /* Fjerner punktopstilling */
    padding: 0;
    display: flex;               /* Viser menupunkterne på én linje */
    gap: 18rem;                 /* Afstand mellem menupunkterne */
    flex-wrap: wrap;
    justify-content: center;
}

nav .nav-menu li a {
    color: #fff;
    text-decoration: none;       /* Fjerner understregning */
    font-size: 1rem;
    text-transform: uppercase;   /* Gør teksten til store bogstaver */
    transition: color 0.3s;      /* Gør farveskift glidende ved hover */
}

nav .nav-menu li a:hover {
    color: #0cf;              /* Ændrer farve ved hover (justér farven efter behov) */
}

.search-container {
    margin-top: 2rem;             /* Afstand mellem menuen og søgefeltet */
    display: flex;
    align-items: center;
    position: relative;           /* For at placere søgeikonet i forhold til input */
    justify-content: flex-start;
    margin-right: 77.6%;
}

#search {
    width: 230px;                 /* Justér bredden på søgefeltet */
    padding: 0.5rem 2rem 0.5rem 1rem;  /* Placerer lidt ekstra plads til højre for ikonet */
    font-size: 1rem;
    border: 1px solid;       /* Tilføjer en kant rundt om søgefeltet */
    outline: none;                /* Fjern den blå kant ved fokus */
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    font-size: 0.8rem;
}

#search::placeholder {
    color: black;                  /* Ændrer farven på placeholder-teksten til hvid */
}

.search-btn {
    position: absolute;
    right: 0.5rem;                /* Placerer knappen tæt på højre kant af inputfeltet */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-icon {
    width: 15px;                  /* Juster størrelsen på ikonet */
    height: 15px;
}

.event-container {
    max-width: 1250px;
    margin: 0 auto;
    transition: transform 0.5s, box-shadow 0.5s; /* giver glidende effekt */
    transform-origin: center;
    will-change: transform;
    flex: 1;
    cursor: pointer;
}

.event:hover, .event2:hover{
    transform: scale(1.02); /*gør boksen lidt større */
    box-shadow: 0 5px 10px #0cf;
    cursor: pointer;
    position: relative;
}

.event-container h1.overskrift {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #fff;
    color: #0cf;
    margin-top: 200px;
}

.event {
    display: flex;
    box-shadow: 0 4px 16px -8px #0cf;
    display: flex;
    border-radius: 8px;
    margin: 15px;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.event .event-date {
    padding: 10px;
    background-color: #3a4851;
    margin-right: 10px;
    border: 1px solid #fff;
    height: 65px;
    width: 65px;
    margin-left: -55px;
    justify-content: space-between;
    position: relative;
    left: 24%;
    top: 23px;

    /* flexbox til centrere indholdet */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.event-date .date {
    font-size: 25px;
    color: #0cf;
}

.event-date .month {
    font-size: 10px;
    font-weight: normal;
    color: #0cf;
    margin-left: 5px;
}

.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    flex: 1;
}

.event .event-right h3.event-title {
    font-size: 16px;
    margin: 12px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 200px;
}

.event .event-right .event-time {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 16px;
    margin: 20px -12px 0;
    font-size: 14px;
    color: #fff;
    margin-left: 189px;
}

.event-time img:last-of-type {
    margin-left: 8px; /* Skaber mellemrum mellem tekst og urikonet */
}


.event .event-right .event-time img {
    height: 20px;
    padding-right: 8px;
    margin-right: -5px;
    transform-origin: center;
}

.køb{
    margin-left: 900px;
    margin-bottom: 45px;
    margin-top: -60px;
}

.billetter{
    padding: 6px 45px;
    background-color: #3a4851;
    color: #0cf;
    font-size: 12px;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.billetter:hover{
    background-color: #fff;
}

.gbillede, .gbillede2 {
    width: 11%;
    object-fit: cover;
    border-radius: 5px;
    position: absolute;
    left: 5%;
    margin-top: -4px;
    transition: transform 0.3s ease;
}

.event-container2 {
    max-width: 1250px;
    margin: 0 auto;
    cursor: pointer;
}

.event-container2 h1.overskrift2 {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #fff;
    color: #0cf;
    margin-top: 200px;
}

.event2 {
    display: flex;
    box-shadow: 0 4px 16px -8px #0cf;
    display: flex;
    border-radius: 8px;
    margin: 15px;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.event2 .event-date2 {
    padding: 10px;
    background-color: #3a4851;
    margin-right: 10px;
    border: 1px solid #fff;
    height: 65px;
    width: 65px;
    margin-left: -55px;
    justify-content: space-between;
    position: relative;
    left: 24%;
    top: 23px;

    /* flexbox til centrere indholdet */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.event-date2 .date2 {
    font-size: 25px;
    color: #0cf;
}

.event-date2 .month2 {
    font-size: 10px;
    font-weight: normal;
    color: #0cf;
    margin-left: 5px;
}

.event2 .event-right2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    flex: 1;
}

.event2 .event-right2 h3.event-title2 {
    font-size: 16px;
    margin: 12px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 200px;
}

.event2 .event-right2 .event-time2 {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 16px;
    margin: 20px -12px 0;
    font-size: 14px;
    color: #fff;
    margin-left: 189px;
}

.event-time2 img:last-of-type {
    margin-left: 8px; /* Skaber mellemrum mellem tekst og urikonet */
}


.event2 .event-right2 .event-time2 img {
    height: 20px;
    padding-right: 8px;
    margin-right: -5px;
}

.køb2{
    margin-left: 900px;
    margin-bottom: 45px;
    margin-top: -60px;
}

.billetter2{
    padding: 6px 45px;
    background-color: #3a4851;
    color: #0cf;
    font-size: 12px;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.billetter2:hover{
    background-color: #fff;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    color: white;
    height: 100%;
    margin-top: 50px;
  }
  
  .footer-left, .footer-right {
    display: flex;
    flex-direction: column;
  }
  
  .footer-left .logo img {
    width: 120px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  
  .contact-info p{
    margin: 5px 0;
    font-size: 14px;
    position: relative;
    text-align: center;
    margin-top: -4px;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centrerer elementerne horisontalt */
    justify-content: center; /* Centrerer elementerne vertikalt */
    text-align: center;  /* Sikrer at teksten også er centreret */
    width: 100%;         /* Sørger for at containeren fylder hele bredden */
    position: relative;
    margin-left: 50px;
}

  .newsletter h3 {
    font-size: 18px;
    margin-bottom: 2.5px;
    text-align: center;
  }
  
  .newsletter input {
    padding: 8px;
    font-size: 14px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    color: black;
    background-color: #fff;
    border: 1px solid;
    box-sizing: border-box;
  }
  
  .newsletter button {
    padding: 8px 20px;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    transition: background-color 0.3s ease;
    border: 1px solid;
    box-sizing: border-box;
  }
  
  .newsletter button:hover {
    background-color: #fff;
    color: #0cf;
  }
  
  .footer-right h4 {
    font-size: 18px;
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .social-media-icons {
    display: flex;
    gap: 25px;
  }
  
  .social-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  .social-icon img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover img {
    transform: scale(1.2);
  }

  /* Mobil Iphone 12 Resonsive */
/* header */
@media screen and (max-width: 768px) {
    /* Fjern billederne */
    .gbillede, .gbillede2 {
        display: none;
    }

    /* Header justering */
    header {
        padding: 0.5rem;
    }
    
    .burger-menu {
        display: block;
        cursor: pointer;
        margin-left: 300px;
        margin-top: -80px;
    }

    .burger {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }

    .burger-menu.active .burger:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .burger:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger-menu.active .burger:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Navigation justering */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        display: block;
        z-index: 1;
        padding: 20px 0;
    }

    .nav-item {
        margin: 16px 0;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-item a {
        color: #fff;
        text-decoration: none;
        display: block;
    }

    .nav-menu.active {
        left: 0;
    }

    /* Logo justering */
    .logo {
        margin-left: -192px;
    }

    /* Justering af søgefelt */
    .search-container {
        justify-content: center;
        margin-left: 360px;
        margin-top: -32px;
    }

    #search {
        width: 150px;  /* Justér bredden på søgefeltet */
        padding: 0.5rem 2rem 0.5rem 1rem;  /* Placerer lidt ekstra plads til højre for ikonet */
        font-size: 1rem;
        border: 1px solid;  /* Tilføjer en kant rundt om søgefeltet */
        outline: none;  /* Fjern den blå kant ved fokus */
        border-radius: 5px;
        color: black;
        background-color: #fff;
        font-size: 0.8rem;
    }

    /* Event container justering */
    .event-container, .event-container2 {
        max-width: 100%;
        margin: 0 auto;
    }

    /* Overskriftsjustering */
    .event-container h1.overskrift, .event-container2 h1.overskrift2 {
        font-size: 30px;
        text-align: center;
        border-bottom: 1px solid #fff;
        color: #0cf;
        margin-top: 100px;
    }

    /* Event bokse */
    .event, .event2 {
        display: block;
        box-shadow: 0 4px 16px -8px #0cf;
        border-radius: 8px;
        margin: 15px;
        cursor: pointer;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* Justering af tekst og tid i event */
    .event-right, .event-right2 {
        padding-left: 0;
        text-align: center;
    }

    .event-title, .event-title2 {
        font-size: 16px;
        margin: 12px;
        color: #fff;
        text-transform: uppercase;
    }

    .event-time, .event-time2 {
        display: block;
        margin-left: 0;
        font-size: 14px;
        color: #fff;
        text-align: center;
    }

    /* Billetknap justering */
    .køb, .køb2 {
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .billetter, .billetter2 {
        padding: 6px 45px;
        background-color: #3a4851;
        color: #0cf;
        font-size: 12px;
        border: 1px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 0 auto;
    }

    .billetter:hover, .billetter2:hover {
        background-color: #fff;
    }

    /* Footer justering */
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: 50px;
    }

    .footer-left, .footer-right {
        flex-direction: column;
        align-items: center;
    }

    .footer-left .logo img {
        width: 120px;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .contact-info p {
        margin: 5px 0;
        font-size: 14px;
        text-align: center;
    }

    .newsletter {
        margin-left: 0;
        width: 100%;
    }

    .newsletter h3 {
        font-size: 18px;
        margin-bottom: 2.5px;
        text-align: center;
    }

    .newsletter input, .newsletter button {
        width: 100%;
        max-width: 300px;
        margin: 5px auto;
    }

    .social-media-icons {
        display: flex;
        gap: 25px;
        justify-content: center;
    }

    .social-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-icon img {
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease;
    }

    .social-icon:hover img {
        transform: scale(1.2);
    }
}
